#display-mode i:hover {
  cursor: pointer;
}

.card-body {
  padding: 12px;
}

.genresIcon {
  padding: 3px 5px;
  margin: 1px 2px;
  font-size: 8px;
  border: 1px solid lightcyan;
  border-radius: 3px;
  background-color: lightcyan;
}